<md-toolbar layout="row">
    <div class="md-toolbar-tools">
        <h2>
            <span>ViColla Remote Assistant</span>
        </h2>
        <span flex=""></span>

        <h3>
            <span>{{user.firstName}} {{user.lastName}}</span>
        </h3>
        <md-menu-bar>
            <md-menu md-position-mode="target-right target">
                <md-button class="md-icon-button" aria-label="Options" ng-click="$mdOpenMenu($event)">
                    <i class="material-icons md-48">account_circle</i>
                </md-button>
                <md-menu-content width="4">
                    <div layout="column" layout-align="center center">
                        <i class="material-icons md-144 md-dark">face</i>
                        <b>{{user.firstName}} {{user.lastName}}</b>
                        <p style="font-size: x-small; color: gray;">{{user.email}}</p>
                    </div>
                    <md-divider></md-divider>
                    <md-menu-item>
                        <md-button ng-click="showAccountDetails()">
                            <div layout="row" layout-align="start center">
                                <i class="material-icons md-36 md-dark">person</i>
                                <span flex="10"></span>

                                <p flex>Account</p>
                            </div>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="showInfo()">
                            <div layout="row" layout-align="start center">
                                <i class="material-icons md-36 md-dark">info</i>
                                <span flex="10"></span>

                                <p flex>About</p>
                            </div>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="showSettings()">
                            <div layout="row" layout-align="start center">
                                <i class="material-icons md-36 md-dark">settings</i>
                                <span flex="10"></span>

                                <p flex>Settings</p>
                            </div>
                        </md-button>
                    </md-menu-item>
                    <md-divider></md-divider>
                    <md-menu-item>
                        <md-button ng-click="logout()">
                            <div layout="row" layout-align="start center">
                                <i class="material-icons md-36 md-dark">exit_to_app</i>
                                <span flex="10"></span>

                                <p flex>Logout</p>
                            </div>
                        </md-button>
                    </md-menu-item>
                    <md-divider></md-divider>
                </md-menu-content>
            </md-menu>
        </md-menu-bar>
    </div>
</md-toolbar>