<div layout="row" flex>
    <div layout="column" flex="15" layout-margin="">
        <div layout="column" layout-align="start end" ng-repeat="option in options">
            <md-button class="md-icon-button md-48" ng-click="optionClicked(option)"
                       ng-class="{elementSelected:optionSelected == options[$index].name}">
                <i class="material-icons md-36">{{option.icon}}</i>
                <md-tooltip>{{option.tooltip}}</md-tooltip>
            </md-button>
        </div>
        <span flex=""></span>
        <md-content layout="column" layout-align="center center">
            <md-whiteframe class="md-whiteframe-24dp" flex layout-align="center center"
                           style="max-height: 80%; max-width: 80%;">
                <video class="img-responsive" flex id='localVideo' autoplay muted>
                </video>
            </md-whiteframe>
        </md-content>
    </div>
    <md-content id="remoteVideoContainer" layout="column" layout-padding="" layout-align="center" flex="70">
        <md-whiteframe class="md-whiteframe-24dp" flex layout-margin layout-align="center center">
            <div>
                <video class="img-responsive" id='remoteVideo' autoplay
                       style="max-width: 100%; max-height: 100%;"></video>
            </div>
        </md-whiteframe>
    </md-content>
    <md-content layout-margin flex="10">
        <button class="btn btn-danger" ng-show="busy" ng-click="endCall('call_received')">End Call</button>
    </md-content>
</div>