<md-content layout="column" flex>
    <md-tabs flex layout="column" md-border-bottom md-selected="1" md-dynamic-height="false">
        <md-tab id="onlineModeTab" flex layout="column" layout-fill>
            <md-tab-label>
                <i class="material-icons md-dark">history</i>
            </md-tab-label>
            <md-tab-body flex layout-fill>
                <online-mode></online-mode>
            </md-tab-body>
        </md-tab>
        <md-tab id="offlineModeTab" layout-fill>
            <md-tab-label>
                <i class="material-icons md-dark">assignment</i>
            </md-tab-label>
            <md-tab-body flex layout-fill>
                <offline-mode></offline-mode>
            </md-tab-body>
        </md-tab>
    </md-tabs>
</md-content>