<md-content layout="column" flex>
    <md-tabs flex layout="column" md-dynamic-height md-border-bottom md-selected="1">
        <md-tab id="onlineModeTab" flex>
            <md-tab-label>
                <i class="material-icons md-dark">history</i>
            </md-tab-label>
            <md-tab-body>
                <online-mode layout="column"></online-mode>
            </md-tab-body>
        </md-tab>
        <md-tab id="offlineModeTab">
            <md-tab-label>
                <i class="material-icons md-dark">assignment</i>
            </md-tab-label>
            <md-tab-body>
                <offline-mode></offline-mode>
            </md-tab-body>
        </md-tab>
    </md-tabs>
</md-content>