<md-content layout="column" layout-padding flex layout-fill>
    <md-card ng-repeat="caller in onlineModeCtrl.callHistory" layout="row" layout-align="start center">
        <md-content layout="column" layout-align="center center" layout-margin flex-sm="20" flex-gt-sm="10">
            <user-avatar></user-avatar>
        </md-content>
        <div layout="column" layout-margin layout-align="start start">
            <div class="md-list-item-text" layout="column">
                <strong id="expertName">{{caller.callerFirstName}} {{caller.callerLastName}}</strong>
            </div>
            <div>
                <span style="font-size: small; color: green">{{caller.callerDesignation}}</span>
                <small>{{caller.designation}}</small>
            </div>
            <span flex=""></span>
            <div>
                <i class="material-icons" ng-class="{red: caller.status=='call_missed',
                    green: caller.status=='call_received'}">
                    {{caller.status}}
                </i>
            </div>
        </div>
        <span flex=""></span>
        <div layout-margin layout="column" layout-align="center end">
            <strong>{{utilityService.getFormattedDate(caller.startDate)}}</strong>
            <strong>{{utilityService.getFormattedTime(caller.startDate)}}</strong>
            <h6>{{utilityService.formatDuration(caller.duration)}}</h6>
        </div>
    </md-card>
</md-content>