<md-content layout="column" layout-align="center center" flex>
    <md-whiteframe class="md-whiteframe-24dp" layout="row" layout-align="center center">
    <form name="userForm" layout="column" layout-margin="">
            <md-input-container class="md-icon-float md-block" layout-margin="">
                <label>Username</label>
                <md-icon class="name">
                    <i class="material-icons deepskyblue">account_circle</i>
                </md-icon>
                <input ng-model="user.firstName">
            </md-input-container>
            <md-input-container class="md-icon-float md-block" layout-margin="">
                <label>Password</label>
                <md-icon class="name">
                    <i class="material-icons deepskyblue">fingerprint</i>
                </md-icon>
                <input ng-model="theMax">
            </md-input-container>

        <div layout="row" layout-margin="">
            <span flex=""></span>
            <md-button class="md-raised md-primary">Login</md-button>
        </div>
    </form>
    </md-whiteframe>
    <div>
        <h6 style="color: red;">Not Registered? Register here</h6>
    </div>
</md-content>