<div flex="5" layout="column" layout-margin>
    <div ng-repeat="toolItem in tools">
        <md-button class="md-icon-button md-48" ng-disabled="disableTools" ng-click="toolClicked($index)">
            <i class="material-icons md-36"
               ng-class="{elementSelected:tool == tools[$index].name}">{{toolItem.icon}}</i>
            <md-tooltip>{{toolItem.name}}</md-tooltip>
        </md-button>
    </div>

    <md-menu>
        <md-button aria-label="Color menu" class="md-icon-button md-48" ng-click="$mdOpenMenu($event)">
            <i class="material-icons md-36">format_color_fill</i>
            <md-tooltip>color</md-tooltip>
        </md-button>
        <md-menu-content width="4">
            <md-menu-item layout-margin>
                <md-button aria-label="color" style="background-color: darkred;"
                           ng-click="colorClicked('darkred')" layout-padding></md-button>
                <md-button aria-label="color" style="background-color: red;"
                           ng-click="colorClicked('red')" layout-padding></md-button>
                <md-button aria-label="color" style="background-color: orangered;"
                           ng-click="colorClicked('orangered')" layout-padding></md-button>
                <md-button aria-label="color" style="background-color: mediumvioletred;"
                           ng-click="colorClicked('mediumvioletred')" layout-padding></md-button>
            </md-menu-item>

            <md-menu-item layout-margin="">
                <md-button aria-label="color" style="background-color: darkgreen;"
                           ng-click="colorClicked('darkgreen')" layout-padding></md-button>
                <md-button aria-label="color" style="background-color: darkolivegreen;"
                           ng-click="colorClicked('darkolivegreen')" layout-padding></md-button>
                <md-button aria-label="color" style="background-color: green;"
                           ng-click="colorClicked('green')" layout-padding></md-button>
                <md-button aria-label="color" style="background-color: greenyellow;"
                           ng-click="colorClicked('greenyellow')" layout-padding></md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>

    <div ng-repeat="actionItem in actions">
        <md-button class="md-icon-button md-48" ng-click="actionClicked($index)">
            <i class="material-icons md-36">{{actionItem.icon}}</i>
            <md-tooltip>{{actionItem.name}}</md-tooltip>
        </md-button>
    </div>
</div>